<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.test.mapper.TestMapper">
  	<insert id="insertMember">
  		insert into test values(#{id},#{pw},#{age},sysdate)
  	</insert>
  
  <!-- // test테이블에서 전체 회원의 수를 알고 싶다. 
  		resultType : 쿼리문 실행 결과의 컬럼 개수와 데이터 타입에 따라 
  -->
  <select id="membercount" resultType="int">
  	select count(*) from test
  </select>
  <select id="maxAge" resultType="int">
  	SELECT max(age) FROM test
  </select>
  <select id="selectAll" resultType="com.test.model.TestDTO">
  	select * from test 
  </select>
  
  <!-- id로 그사람 정보 가져오기 -->
  <select id="selectOne" resultType="com.test.model.TestDTO">
  	SELECT * FROM test where id=#{id}
  </select>
  
  <!--  id를 주고 회원가입 날짜 가져오기 -->
  
  <select id="getReg" resultType="java.sql.Timestamp">
  	SELECT reg FROM test where id=#{id}
  </select>
  
  <!-- pw,age 수정 해당 id의 사람꺼 -->
  <update id="updateMember">
  	update test set pw=#{pw}, age=#{age} where id=#{id}
  </update>
  
  <!-- age 파라미터가 넘어오면 해당 age의 count수를 조회 
  		age가 안넘어오면 전체 count수를 조회
   -->
	<select id="selectIf" resultType="int">
		SELECT count(*) FROM test
		<if test="age != null">
			 where age=#{age}
		</if>
	</select>  
	
	<!-- 로그인 체크 id,pw / id존재여부확인 / 문제점 : pw만 보내면 에러발생 -->
  	<select id="selectIf2" resultType="int">
  		SELECT count(*) FROM test
  		<if test="id != null">
  			 where id=#{id}
  		</if>
  		<if test="pw != null">
	  		 and pw=#{pw}
  		 </if>
  	</select>
  	<!-- 문재점 해결방안 #1 
  <select id="selectIf2" resultType="int">
  		SELECT count(*) FROM test
  		<if test="id != null">
  			 where id=#{id}
  		</if>
  		<if test="pw != null">
	  		 and pw=#{pw}
  		 </if>
  	</select>
  -->
  	<select id="choose" resultType="int">
  		SELECT count(*) FROM test where id=#{id}
		<choose> 
  			<when test="pw != null">
  				and pw=#{pw}
  			</when>
  			<when test="age != null">
  				and age=#{age}
  			</when>
  			<otherwise>
  				<!-- 위 조건이 안맞을 경우 else -->
  			</otherwise>
  		</choose>
  	</select>
  	
  	<!-- 문제점해결방안 #2 -->
  	<select id="selectTrim" resultType="int">
  		select count(*) from test
  		<trim prefix="where" prefixOverrides="and|or">
  			<if test="id != null">
  				id=#{id}
  			</if>
  			<if test="pw != null">
  				and pw=#{pw}
  			</if>
  		</trim>
  	</select>
  		<!-- update : 회원정보 수정하고 싶다. pw, age, email, name, mobile -->
	
	<update id="trimUpdate">
		update test
		<trim prefix="set" suffixOverrides=",">
			<if test="pw != null">
				pw=#{pw},
			</if>
			<if test="age != null">
				age=#{age}
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<!-- foreach : ex. age가 list에 들은 값들과 일치하는 레코드 전체 컬럼정보 얻기 
		ArrayList : [10,20,30]
	-->
	<select id="selectIn" resultType="com.test.model.TestDTO">
		select * from test where age in
		<foreach collection="list" item="item" open="(" separator="," close=")">
		 	#{item}
		</foreach>
	</select>
	
	<!-- selectKey : id,pw 전체 레코드수를 구해서 age값으로 하나의 레코드 추가 -->
	<insert id="insertSK">
		<selectKey keyProperty="age" order="BEFORE" resultType="int">
			SELECT count(*) FROM test
		</selectKey>
		INSERT INTO test VALUES (#{id}, #{pw}, #{age}, sysdate)
	</insert>
		
  		<!-- insert into test values(#{id}, #{pw}, test_seq.nextVal, sysdate)) --> 
  
  <!-- like : #{} 문자열 '' 숫자 10 
  <select id="selectLike" resultType="com.test.model.TestDTO">
  	SELECT * FROM test where id like '%'||#{keyword}||'%'
  </select>
  -->
  
  <select id="selectLike" resultType="com.test.model.TestDTO">
  	SELECT * FROM test where ${column} like '%'||#{keyword}||'%'
  </select>
  	<!-- SELECT * FROM test where 'pw' like '%'||#{keyword}||'%' 맞지않음 -->
  
  
  
  </mapper>